Repository polito/students-app, pull requests merged in 2024-02, with the labels that each got.

#433 feat(notifications): add notification preferences
  assets/translations/en.json
  assets/translations/it.json
  lib/ui/components/ListItem.tsx
  lib/ui/components/SectionHeader.tsx
  lib/ui/components/Switch.tsx
  lib/ui/components/TopTabBar.tsx
  package-lock.json
  package.json
  src/core/components/RootNavigator.tsx
  src/core/contexts/PreferencesContext.ts
  src/core/hooks/messaging.ts
  src/core/hooks/useNotifications.ts
  src/core/hooks/useOnLeaveScreen.ts
  src/core/hooks/usePushNotifications.ts
  src/core/hooks/useVisibleFlatListItems.ts
  src/core/providers/PreferencesProvider.tsx
  src/core/queries/courseHooks.ts
  src/core/queries/studentHooks.ts
  src/core/types/notificationTypes.ts
  src/core/types/notifications.ts
  src/features/courses/components/CourseFileListItem.tsx
  src/features/courses/navigation/CourseNavigator.tsx
  src/features/courses/screens/CourseDirectoryScreen.tsx
  src/features/courses/screens/CourseFilesScreen.tsx
  src/features/courses/screens/CourseLecturesScreen.tsx
  src/features/courses/screens/CourseNoticesScreen.tsx
  src/features/courses/screens/CoursePreferencesScreen.tsx
  src/features/courses/screens/NoticeScreen.tsx
  src/features/services/components/NewsListItem.tsx
  src/features/services/screens/ServicesScreen.tsx
  src/features/teaching/screens/TeachingScreen.tsx
  src/features/tickets/screens/TicketScreen.tsx
  src/features/tickets/screens/TicketsScreen.tsx
  src/features/user/components/CareerStatus.tsx
  src/features/user/components/MessageListItem.tsx
  src/features/user/components/UserNavigator.tsx
  src/features/user/screens/NotificationsScreen.tsx
  src/features/user/screens/ProfileScreen.tsx
Labels: cc-feat

#437 feat(messages): added date info to messages
  src/features/user/components/MessageScreenContent.tsx
Labels: cc-feat

#438 fix(filenames)!: files get saved with their proper names
  src/features/courses/components/CourseFileListItem.tsx
Labels: cc-breaking, cc-fix

#440 feat(preferences): added an option to hide all grades
  assets/translations/en.json
  assets/translations/it.json
  src/core/contexts/PreferencesContext.ts
  src/features/teaching/screens/TeachingScreen.tsx
Labels: cc-feat

#446 refactor(transcript): improve appearance of provisional grades
  src/features/transcript/screens/ProvisionalGradeScreen.tsx
Labels: cc-refactor

#449 chore(auth): forward app version and build when logging in
  package-lock.json
  package.json
  src/core/queries/authHooks.ts
Labels: ignore-for-release
