Repository polito/students-app, pull requests merged in 2025-08, with the labels that each got.

#649 feat(ui): add accessibility fontsize in Accessibility -> Text
  lib/ui/components/AgendaCard.tsx
  lib/ui/components/Badge.tsx
  lib/ui/components/CtaButton.tsx
  lib/ui/components/ListItem.tsx
  lib/ui/components/PillIconButton.tsx
  lib/ui/components/ScreenDateTime.tsx
  lib/ui/components/SectionHeader.tsx
  lib/ui/components/SwitchListItem.tsx
  lib/ui/components/Text.tsx
  lib/ui/components/TopTabBar.tsx
  lib/ui/components/UnreadBadge.tsx
  lib/ui/components/calendar/Calendar.tsx
  src/core/components/HtmlView.tsx
  src/core/components/RootNavigator.tsx
  src/core/components/TextWithLinks.tsx
  src/features/agenda/components/WeeklyAgenda.tsx
  src/features/agenda/screens/AgendaWeekScreen.tsx
  src/features/offering/navigation/DegreeTopTabsNavigator.tsx
  src/features/places/components/MapNavigator.tsx
  src/features/places/components/MarkersLayer.tsx
  src/features/places/contexts/MapNavigatorContext.ts
  src/features/places/screens/BuildingScreen.tsx
  src/features/places/screens/EventPlacesScreen.tsx
  src/features/places/screens/FreeRoomsScreen.tsx
  src/features/places/screens/PlaceScreen.tsx
  src/features/places/screens/PlacesScreen.tsx
  src/features/services/components/ServiceCard.tsx
  src/features/services/screens/ServicesScreen.tsx
  src/features/teaching/components/ExamListItem.tsx
  src/features/teaching/components/ExamStatusBadge.tsx
  src/features/teaching/components/ProgressChart.tsx
  src/features/teaching/screens/ExamScreen.tsx
  src/features/teaching/screens/TeachingScreen.tsx
  src/features/transcript/screens/ProvisionalGradeScreen.tsx
  src/features/transcript/screens/RecordedGradeScreen.tsx
  src/features/user/screens/AccessibilityFontSettingsScreen.tsx
  src/features/user/screens/SettingsScreen.tsx
Labels: cc-feat, scope: accessibility

#683 fix(ui): fix long press for menu actions on iOS devices
  src/features/courses/components/CourseAssignmentListItem.tsx
  src/features/courses/components/CourseFileListItem.tsx
  src/features/courses/components/CourseListItem.tsx
  src/features/people/components/RecentSearch.tsx
  src/features/tickets/components/TicketListItem.tsx
Labels: cc-fix

#686 fix: accessibility fontSize
  lib/ui/components/Text.tsx
  src/core/components/RootNavigator.tsx
  src/features/offering/navigation/DegreeTopTabsNavigator.tsx
  src/features/places/components/MapNavigator.tsx
  src/features/places/components/MarkersLayer.tsx
  src/features/teaching/components/ExamListItem.tsx
  src/features/transcript/screens/ProvisionalGradeScreen.tsx
  src/features/transcript/screens/RecordedGradeScreen.tsx
Labels: cc-fix

#611 feat(statistics): new statistics section
  assets/translations/en.json
  assets/translations/it.json
  lib/ui/components/ModalContent.tsx
  package-lock.json
  package.json
  src/core/components/BottomModal.tsx
  src/core/queries/offeringHooks.ts
  src/features/courses/chartConstant.ts
  src/features/courses/components/CourseGradesChart.tsx
  src/features/courses/components/CourseStatisticsFilters.tsx
  src/features/courses/components/CourseStatisticsModal.tsx
  src/features/courses/components/CourseStatisticsModalContent.tsx
  src/features/courses/components/EnrolledExamChart.tsx
  src/features/courses/components/EnrolledExamDetailChart.tsx
  src/features/courses/components/LegendItem.tsx
  src/features/courses/components/NoChartDataContainer.tsx
  src/features/courses/navigation/CourseSharedScreens.tsx
  src/features/courses/screens/CourseInfoScreen.tsx
  src/features/courses/screens/CourseStatisticsScreen.tsx
  src/features/courses/utils/computeStatisticsFilters.ts
  src/features/offering/screens/DegreeCourseScreen.tsx
  src/shared/navigation/SharedScreens.tsx
Labels: cc-feat
